@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --line-border-fill: #36a86f;
    --line-border-empty: #707062;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #202325;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 100%;
    width: 500px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 11px;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 7px;
    transform: translateY(-50%);
    width: 50%;
    box-shadow: 0px 3px 10px hsl(0, 0%, 40%);
    z-index: -1;
    transition: .4s ease-in-out;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
    font-size: 25px;
}

.circle.active {
    border-color: var(--line-border-fill);
    border-width: 4px;
    box-shadow:0 0 10px #fefe10;
}

.btn {
    background-color: var(--line-border-fill);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 11px 40px;
    margin: 10px;
    font-size: 17px;
}

.btn:active {
    transform: scale(.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

